body{
    font-family: Roboto, serif;
    min-height: 100vh; 
    margin: 0;
    display: flex;
    
    flex-direction: column;
}
.img{
    flex-shrink: 1;
    min-width:0;
}
.img img{
    width: 100%;
    height:auto;
    display:block;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li{
    list-style: none;
}

button{
    background-color: #3882F6;
    color: #ffffff;
    padding: 6px 20px;
    border-radius: 6px;
    border: 0;
    font-weight: bold;
}
.sign-up{
    border: 1px solid #ffffff;

}
#bold{
    font-weight: 700;
}

.no-button,
button{
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 6px;
    
}
.no-button{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.header,
.part1,
.part2,
.part3,
.part4{  
    padding: 0 100px;
}

.logo{
    font-size: 24px;
}

.header,
.footer,
.part1{
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
}

.header{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part1{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap:100px;
}

.part2{
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header{
    margin-bottom: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.info ul{
    display: flex;
    flex-wrap: wrap;
}

.info li{
    max-width: 150px;
}

.part3{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;

}
#name{
    font-weight: 700;
    text-align: right;
}


#content{
    max-width: 300px;
}

#awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.footer{
    margin-top: auto;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}